.container {
  max-width: 800px;
  margin: 0 auto;
  background-color: rgb(255, 254, 254);
  padding: 5px;
  margin-top: 10vh;
  border-radius: 0.25em;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  color: teal;
}

.form--layout {
  display: flex;
  flex-direction: column;
  gap: 15px
}

label {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

span {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 20px;
  font-size: 1.2rem;
}

.select,
.input {
  max-width: 60%;
  padding: 5px;
  border-radius: 0.25em;
  font-size: 1rem;
}

.form--button {
  min-width: 100%;
  padding: 10px;
  background-color: teal;
  color: white;
  border: none;
  font-size: 0.9rem;
  border-radius: 0.25em;
}

.form--button:hover {
  background-color: rgb(4, 146, 146);
  transition: 0.3s;
}

.info {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  color: grey;
  font-size: 0.8rem;
}

.result {
  display: flex;
  align-items: center;
  justify-content: center;
}